In [1]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 建立 Series 物件，傳入 list 當作參數
series_1 = pd.Series([12, 34, 41, 3])

print(series_1)

0    12
1    34
2    41
3     3
dtype: int64

In [2]:
# 建立 Series 物件並設定 index 索引
grades = pd.Series([60, 77, 92, 43], index=['小明', '小王', '小華', '小光'])

print(grades)

小明    60
小王    77
小華    92
小光    43
dtype: int64

In [3]:
# 建立 Series 物件，傳入 list 當作參數
series_1 = pd.Series([12, 34, 41, 3])

print(series_1[0])
print(series_1[1:3])

12
1    34
2    41
dtype: int64

In [4]:
# 建立 Series 物件並設定 index 索引
grades = pd.Series([60, 77, 92, 43], index=['小明', '小王', '小華', '小光'])

print(grades['小王'])

77

# 建立Data Frame物件

DataFrame 是 Pandas 最重要的資料結構，基本上我們使用 Pandas 進行資料分析和操作大部分都是在使用 DataFrame。如同我們所提到的 DataFrame 的結構類似於關聯式資料庫的資料表（table）是由欄（column）和列的索引（index）所組成。

In [5]:
# 準備傳入 
data = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

# 建立 DataFrame 物件
student_df = pd.DataFrame(data)

print(student_df)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43

In [6]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 準備傳入 DataFrame 的資料
data = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

# 建立 DataFrame 物件
student_df = pd.DataFrame(data, index=['one', 'second', 'third','fourth'])

print(student_df)

       name               email  grades
one     王小明       min@gmail.com      60
second  張小華    hchang@gmail.com      77
third   廖丁丁  laioding@gmail.com      92
fourth  許小光  hsulight@gmail.com      43

# 列出資料訊息
透過 DataFrame 函式我們可以很容易一窺整個資料集的統計數據和資料內容。

In [7]:
# 建立 DataFrame 物件
student_df = pd.DataFrame(data)

# 列出欄位資料型別等資訊
print(student_df.info())
# 列出統計資訊
print(student_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
name      4 non-null object
email     4 non-null object
grades    4 non-null int64
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes
None
          grades
count   4.000000
mean   68.000000
std    21.181753
min    43.000000
25%    55.750000
50%    68.500000
75%    80.750000
max    92.000000

In [8]:
# 列出 DataFrame 的 index/columns
print(student_df.index)
print(student_df.columns)

RangeIndex(start=0, stop=4, step=1)
Index(['name', 'email', 'grades'], dtype='object')

In [9]:
# 印出頭尾指定幾筆資料
print(student_df.head(2))
print(student_df.tail(2))

  name             email  grades
0  王小明     min@gmail.com      60
1  張小華  hchang@gmail.com      77
  name               email  grades
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43

# Pandas DataFrame讀取資料

除了自行創建 DataFrame 物件外，我們也可以使用 read_csv(檔案名稱) 等函式讀取檔案成為 DataFrame。在 Pandas 中我們主要可以使用 read_json(檔案名稱)、read_csv(檔案名稱)、read_html(檔案名稱) 來讀取檔案

In [11]:
df = pd.read_csv('108_student.csv')

In [13]:
# 印出索引和欄位相關資訊
print(df.info())
# 印出所有資料
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 25 columns):
學校代碼      794 non-null int64
學校名稱      794 non-null object
日間∕進修別    794 non-null object
等級別       794 non-null object
總計        794 non-null int64
男生計       794 non-null int64
女生計       794 non-null int64
一年級男生     794 non-null int64
一年級女生     794 non-null int64
二年級男生     794 non-null int64
二年級女生     794 non-null int64
三年級男生     794 non-null int64
三年級女生     794 non-null int64
四年級男生     794 non-null int64
四年級女生     794 non-null int64
五年級男生     794 non-null int64
五年級女生     794 non-null int64
六年級男生     794 non-null int64
六年級女生     794 non-null int64
七年級男生     794 non-null int64
七年級女生     794 non-null int64
延修生男生     794 non-null int64
延修生女生     794 non-null int64
縣市名稱      794 non-null object
體系別       794 non-null object
dtypes: int64(20), object(5)
memory usage: 155.2+ KB
None
     學校代碼        學校名稱 日間∕進修別    等級別     總計   男生計   女生計  一年級男生  一年級女生  二年級男生  \
0       1      國立政治大學    D 日   D 博士    995   561   434     90     85     87
1       1      國立政治大學    D 日   M 碩士   4023  1861  2162    644    745    593
2       1      國立政治大學    D 日   B 學士   9585  3912  5673    896   1289    906
3       1      國立政治大學    N 職   M 碩士   1787   929   858    298    273    266
4       2      國立清華大學    D 日   D 博士   1656  1211   445    241     85    206
5       2      國立清華大學    D 日   M 碩士   5190  3221  1969   1299    754   1231
6       2      國立清華大學    D 日   B 學士   8500  4658  3842   1105    925   1093
7       2      國立清華大學    D 日  X 4+X     39    25    14      3      2     20
8       2      國立清華大學    N 職   M 碩士   1293   479   814    191    269    170
9       3      國立臺灣大學    D 日   D 博士   3433  2405  1028    467    185    361
10      3      國立臺灣大學    D 日   M 碩士  10335  6241  4094   2483   1615   2302
11      3      國立臺灣大學    D 日   B 學士  16614  9431  7183   2105   1592   2165
12      3      國立臺灣大學    N 職   M 碩士   1562   949   613    328    236    331
13      3      國立臺灣大學    P 進   B 學士      1     1     0      0      0      0
14      4    國立臺灣師範大學    D 日   D 博士   1353   662   691    108    117     97
15      4    國立臺灣師範大學    D 日   M 碩士   4196  1794  2402    657    807    558
16      4    國立臺灣師範大學    D 日   B 學士   8104  3603  4501    875   1084    830
17      4    國立臺灣師範大學    N 職   M 碩士   2063   599  1464    192    457    178
18      5      國立成功大學    D 日   D 博士   1829  1261   568    264    138    215
19      5      國立成功大學    D 日   M 碩士   6833  4290  2543   1910   1064   1738
20      5      國立成功大學    D 日   B 學士  11348  7046  4302   1677   1011   1658
21      5      國立成功大學    N 職   M 碩士   1446   900   546    303    192    269
22      6      國立中興大學    D 日   D 博士    944   658   286    103     46    108
23      6      國立中興大學    D 日   M 碩士   3447  2054  1393    854    601    849
24      6      國立中興大學    D 日   B 學士   8020  4619  3401   1065    810   1085
25      6      國立中興大學    N 職   M 碩士   1625  1106   519    401    212    329
26      6      國立中興大學    P 進   B 學士    947   416   531    110    107     76
27      7      國立交通大學    D 日   D 博士   1765  1379   386    281     97    274
28      7      國立交通大學    D 日   M 碩士   5754  3913  1841   1503    718   1370
29      7      國立交通大學    D 日   B 學士   5627  3840  1787   1028    513    894
..    ...         ...    ...    ...    ...   ...   ...    ...    ...    ...
764  1195       馬偕醫學院    D 日   D 博士      2     2     0      2      0      0
765  1195       馬偕醫學院    D 日   M 碩士     41    15    26      3     11      4
766  1195       馬偕醫學院    D 日   B 學士    641   220   421     39    110     48
767  1196      法鼓文理學院    D 日   D 博士     20     8    12      1      1      2
768  1196      法鼓文理學院    D 日   M 碩士    224    66   158     25     40     16
769  1196      法鼓文理學院    D 日   B 學士     61    24    37      7     12      7
770  1282  馬偕醫護管理專科學校    D 日   2 二專     54    15    39      4     27     11
771  1282  馬偕醫護管理專科學校    D 日   5 五專   3927   469  3458     95    675     93
772  1282  馬偕醫護管理專科學校    N 修   2 二專    242   108   134     73     83     34
773  1283  仁德醫護管理專科學校    D 日   5 五專   6042  1294  4748    252    930    244
774  1283  仁德醫護管理專科學校    N 修   2 二專    391   198   193    127    134     67
775  1284  樹人醫護管理專科學校    D 日   5 五專   6741  1551  5190    341   1115    330
776  1284  樹人醫護管理專科學校    N 修   2 二專    545   316   229    127    119    136
777  1285  慈惠醫護管理專科學校    D 日   2 二專    103    36    67     16     36     13
778  1285  慈惠醫護管理專科學校    D 日   5 五專   4130   896  3234    123    482    171
779  1285  慈惠醫護管理專科學校    N 修   2 二專    271    94   177     48     86     35
780  1286  耕莘健康管理專科學校    D 日   5 五專   4792   454  4338     66    755    100
781  1286  耕莘健康管理專科學校    N 修   2 二專    119     3   116      2     63      1
782  1287  敏惠醫護管理專科學校    D 日   5 五專   3904   467  3437    101    681     98
783  1289  育英醫護管理專科學校    D 日   5 五專   1996   227  1769     53    316     43
784  1291  聖母醫護管理專科學校    D 日   2 二專     22    17     5     17      5      0
785  1291  聖母醫護管理專科學校    D 日   5 五專   2521   516  2005     76    319     81
786  1291  聖母醫護管理專科學校    N 修   2 二專     18     8    10      8     10      0
787  1292  新生醫護管理專科學校    D 日   5 五專   5955   722  5233    141   1034    137
788  1292  新生醫護管理專科學校    N 修   2 二專     76    23    53      5     26     18
789  1293  崇仁醫護管理專科學校    D 日   5 五專   3330   410  2920     81    584     87
790  3002      臺北市立大學    D 日   D 博士    234   101   133     14     19     14
791  3002      臺北市立大學    D 日   M 碩士   1215   420   795    156    242    105
792  3002      臺北市立大學    D 日   B 學士   5270  2335  2935    569    738    527
793  3002      臺北市立大學    N 職   M 碩士   1090   298   792    107    274     87

     ...   五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  延修生女生    縣市名稱  \
0    ...      70     48     61     55     80     42      0      0  30 臺北市
1    ...       0      0      0      0      0      0      0      0  30 臺北市
2    ...       0      0      0      0      0      0    345    423  30 臺北市
3    ...      70     66      0      0      0      0      0      0  30 臺北市
4    ...     140     43    122     44    160     59      0      0  18 新竹市
5    ...       3     14      4     10      0      0      0      0  18 新竹市
6    ...       0      0      0      0      0      0    262    154  18 新竹市
7    ...       0      0      0      0      0      0      2      0  18 新竹市
8    ...      23     43      9     29     25     50      0      0  18 新竹市
9    ...     292    130    240    105    343    134      0      0  30 臺北市
10   ...       0      0      0      0      0      0      0      0  30 臺北市
11   ...     167    111    145     71      1      4    728    552  30 臺北市
12   ...      35     18     28     10      0      0      0      0  30 臺北市
13   ...       0      0      0      0      0      0      1      0  30 臺北市
14   ...      91    104     73     65     79     81      0      0  30 臺北市
15   ...       0      0      0      0      0      0      0      0  30 臺北市
16   ...       0      0      0      0      0      0    267    265  30 臺北市
17   ...      33     90     30     68      0      0      0      0  30 臺北市
18   ...     158     67    123     50    137     51      0      0  21 臺南市
19   ...       1      2      1      0      0      0      0      0  21 臺南市
20   ...      79     59     51     37      1      3    347    180  21 臺南市
21   ...      55     26      1      0      0      0      0      0  21 臺南市
22   ...      75     30     75     25    103     44      0      0  19 臺中市
23   ...       1      1      0      0      0      0      0      0  19 臺中市
24   ...      34     46      0      0      0      0    230     98  19 臺中市
25   ...      84     30      0      0      0      0      0      0  19 臺中市
26   ...      52     58      0      0      0      0     17     10  19 臺中市
27   ...     153     49    111     29    162     36      0      0  18 新竹市
28   ...       0      2      0      0      0      0      0      0  18 新竹市
29   ...       0      0      0      0      0      0    157     57  18 新竹市
..   ...     ...    ...    ...    ...    ...    ...    ...    ...     ...
764  ...       0      0      0      0      0      0      0      0  01 新北市
765  ...       0      0      0      0      0      0      0      0  01 新北市
766  ...      28     20     18     22      2      0      3      3  01 新北市
767  ...       3      3      1      3      0      0      0      0  01 新北市
768  ...       0      0      0      0      0      0      0      0  01 新北市
769  ...       0      0      0      0      0      0      0      2  01 新北市
770  ...       0      0      0      0      0      0      0      0  30 臺北市
771  ...      74    684      0      0      0      0     19     97  30 臺北市
772  ...       0      0      0      0      0      0      1      1  30 臺北市
773  ...     211    835      0      0      0      0     85    184  05 苗栗縣
774  ...       0      0      0      0      0      0      4      5  05 苗栗縣
775  ...     253    893      0      0      0      0     67    165  12 高雄市
776  ...       0      0      0      0      0      0      5      1  12 高雄市
777  ...       0      0      0      0      0      0      7     11  13 屏東縣
778  ...     212    680      0      0      0      0     48    164  13 屏東縣
779  ...       0      0      0      0      0      0      2     10  13 屏東縣
780  ...      82    801      0      0      0      0     28    175  01 新北市
781  ...       0      0      0      0      0      0      0      7  01 新北市
782  ...      74    612      0      0      0      0     19     85  11 臺南市
783  ...      38    337      0      0      0      0      6     33  50 高雄市
784  ...       0      0      0      0      0      0      0      0  02 宜蘭縣
785  ...     133    437      0      0      0      0      9     29  02 宜蘭縣
786  ...       0      0      0      0      0      0      0      0  02 宜蘭縣
787  ...     130    988      0      0      0      0     21    124  03 桃園市
788  ...       0      0      0      0      0      0      0      0  03 桃園市
789  ...      69    564      0      0      0      0     11     44  10 嘉義縣
790  ...      11     15     10     17     19     30      0      0  30 臺北市
791  ...      15     37     12     27      0      0      0      0  30 臺北市
792  ...       0      0      0      0      0      0    166    140  30 臺北市
793  ...      14     44     15     25      0      0      0      0  30 臺北市

      體系別
0    1 一般
1    1 一般
2    1 一般
3    1 一般
4    1 一般
5    1 一般
6    1 一般
7    1 一般
8    1 一般
9    1 一般
10   1 一般
11   1 一般
12   1 一般
13   1 一般
14   3 師範
15   3 師範
16   3 師範
17   3 師範
18   1 一般
19   1 一般
20   1 一般
21   1 一般
22   1 一般
23   1 一般
24   1 一般
25   1 一般
26   1 一般
27   1 一般
28   1 一般
29   1 一般
..    ...
764  1 一般
765  1 一般
766  1 一般
767  1 一般
768  1 一般
769  1 一般
770  2 技職
771  2 技職
772  2 技職
773  2 技職
774  2 技職
775  2 技職
776  2 技職
777  2 技職
778  2 技職
779  2 技職
780  2 技職
781  2 技職
782  2 技職
783  2 技職
784  2 技職
785  2 技職
786  2 技職
787  2 技職
788  2 技職
789  2 技職
790  1 一般
791  1 一般
792  1 一般
793  1 一般

[794 rows x 25 columns]

In [14]:
# 印出頭 5 筆資料
print(df.head(5))
# 印出尾 5 筆資料
print(df.tail(5))

   學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男生  一年級女生  二年級男生  ...   \
0     1  國立政治大學    D 日  D 博士   995   561   434     90     85     87  ...
1     1  國立政治大學    D 日  M 碩士  4023  1861  2162    644    745    593  ...
2     1  國立政治大學    D 日  B 學士  9585  3912  5673    896   1289    906  ...
3     1  國立政治大學    N 職  M 碩士  1787   929   858    298    273    266  ...
4     2  國立清華大學    D 日  D 博士  1656  1211   445    241     85    206  ...

   五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  延修生女生    縣市名稱   體系別
0     70     48     61     55     80     42      0      0  30 臺北市  1 一般
1      0      0      0      0      0      0      0      0  30 臺北市  1 一般
2      0      0      0      0      0      0    345    423  30 臺北市  1 一般
3     70     66      0      0      0      0      0      0  30 臺北市  1 一般
4    140     43    122     44    160     59      0      0  18 新竹市  1 一般

[5 rows x 25 columns]
     學校代碼        學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男生  一年級女生  二年級男生  \
789  1293  崇仁醫護管理專科學校    D 日  5 五專  3330   410  2920     81    584     87
790  3002      臺北市立大學    D 日  D 博士   234   101   133     14     19     14
791  3002      臺北市立大學    D 日  M 碩士  1215   420   795    156    242    105
792  3002      臺北市立大學    D 日  B 學士  5270  2335  2935    569    738    527
793  3002      臺北市立大學    N 職  M 碩士  1090   298   792    107    274     87

     ...   五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  延修生女生    縣市名稱  \
789  ...      69    564      0      0      0      0     11     44  10 嘉義縣
790  ...      11     15     10     17     19     30      0      0  30 臺北市
791  ...      15     37     12     27      0      0      0      0  30 臺北市
792  ...       0      0      0      0      0      0    166    140  30 臺北市
793  ...      14     44     15     25      0      0      0      0  30 臺北市

      體系別
789  2 技職
790  1 一般
791  1 一般
792  1 一般
793  1 一般

[5 rows x 25 columns]

# 查詢
在 DataFrame 中若要取值可以使用常用的 loc、iloc 方法，以下分別介紹兩者使用方式。

loc 語法使用方式：loc(列索引範圍, [欄位名稱])

In [16]:
# 印出 index 2-10 資料的學校代碼、學校名稱和總計欄位
print(df.loc[2:15, ['學校代碼', '學校名稱','縣市名稱', '總計']])

    學校代碼      學校名稱    縣市名稱     總計
2      1    國立政治大學  30 臺北市   9585
3      1    國立政治大學  30 臺北市   1787
4      2    國立清華大學  18 新竹市   1656
5      2    國立清華大學  18 新竹市   5190
6      2    國立清華大學  18 新竹市   8500
7      2    國立清華大學  18 新竹市     39
8      2    國立清華大學  18 新竹市   1293
9      3    國立臺灣大學  30 臺北市   3433
10     3    國立臺灣大學  30 臺北市  10335
11     3    國立臺灣大學  30 臺北市  16614
12     3    國立臺灣大學  30 臺北市   1562
13     3    國立臺灣大學  30 臺北市      1
14     4  國立臺灣師範大學  30 臺北市   1353
15     4  國立臺灣師範大學  30 臺北市   4196

In [17]:
# iloc 語法使用方式：iloc(列索引範圍（不含結束）, 欄位索引範圍])

In [22]:
# 印出 index 0-2 資料的 0:學校代碼、1: 學校名稱和 4:總計欄位
print(df.iloc[0:3, [0, 1, 4]])

   學校代碼    學校名稱    總計
0     1  國立政治大學   995
1     1  國立政治大學  4023
2     1  國立政治大學  9585

# 過濾
在取值時我們有時會希望透過設立條件可以過濾出我們想要看的資料，此時可以使用過濾語法，選定欄位和條件進行過濾（把條件當作參數傳入，DataFrame[條件]）：

In [23]:
# 過濾取出欄位總計 大於 20000 的資料
filtered_df = df[df['總計'] > 20000]

print(filtered_df)

     學校代碼    學校名稱 日間∕進修別   等級別     總計    男生計    女生計  一年級男生  一年級女生  二年級男生  \
267  1005    淡江大學    D 日  B 學士  20273  10310   9963   2471   2333   2462
273  1006  中國文化大學    D 日  B 學士  20411   9930  10481   2368   2426   2178

     ...   五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  延修生女生    縣市名稱  \
267  ...      31     28      0      0      0      0    746    371  01 新北市
273  ...      33     27      0      0      0      0   1037    872  30 臺北市

      體系別
267  1 一般
273  1 一般

[2 rows x 25 columns]

In [25]:
#由於資料的欄位過多所以不容易看出資訊，所以我們進一步取出較少欄位，可以看出更明顯的資料內容（先只取：'學校名稱', '日間∕進修別', '等級別', '總計', '男生計', '女生計' 欄位）：

# 取出所有列 index 欄位為 學校名稱', '日間∕進修別', '等級別', '總計', '男生計', '女生計' 資料
print(filtered_df.loc[:, ['學校名稱', '日間∕進修別', '等級別', '總計', '男生計', '女生計']])

       學校名稱 日間∕進修別   等級別     總計    男生計    女生計
267    淡江大學    D 日  B 學士  20273  10310   9963
273  中國文化大學    D 日  B 學士  20411   9930  10481

In [26]:
# 我們可以看到 108 學年度大專院校中以 淡江大學 和 中國文化大學 大學部人數是唯二超過兩萬人的學校，男女比也接近 1:1 的比例，算是蠻平均的，其中文化大學的女生甚至比男生還多。

# 更新索引
在 DataFrame 中列為預設 index 索引（0, 1, 2, 3...），若希望使用某一個欄位（column）設為 index 的話可以使用 set_index 方法進行設定。

In [34]:
#原來的 DataFrame：
print(df)

            學校名稱 日間∕進修別    等級別     總計   男生計   女生計  一年級男生  一年級女生  二年級男生  二年級女生  \
學校代碼
1         國立政治大學    D 日   D 博士    995   561   434     90     85     87     77
1         國立政治大學    D 日   M 碩士   4023  1861  2162    644    745    593    702
1         國立政治大學    D 日   B 學士   9585  3912  5673    896   1289    906   1309
1         國立政治大學    N 職   M 碩士   1787   929   858    298    273    266    233
2         國立清華大學    D 日   D 博士   1656  1211   445    241     85    206     90
2         國立清華大學    D 日   M 碩士   5190  3221  1969   1299    754   1231    659
2         國立清華大學    D 日   B 學士   8500  4658  3842   1105    925   1093    843
2         國立清華大學    D 日  X 4+X     39    25    14      3      2     20     12
2         國立清華大學    N 職   M 碩士   1293   479   814    191    269    170    217
3         國立臺灣大學    D 日   D 博士   3433  2405  1028    467    185    361    179
3         國立臺灣大學    D 日   M 碩士  10335  6241  4094   2483   1615   2302   1457
3         國立臺灣大學    D 日   B 學士  16614  9431  7183   2105   1592   2165   1592
3         國立臺灣大學    N 職   M 碩士   1562   949   613    328    236    331    235
3         國立臺灣大學    P 進   B 學士      1     1     0      0      0      0      0
4       國立臺灣師範大學    D 日   D 博士   1353   662   691    108    117     97    104
4       國立臺灣師範大學    D 日   M 碩士   4196  1794  2402    657    807    558    724
4       國立臺灣師範大學    D 日   B 學士   8104  3603  4501    875   1084    830   1072
4       國立臺灣師範大學    N 職   M 碩士   2063   599  1464    192    457    178    440
5         國立成功大學    D 日   D 博士   1829  1261   568    264    138    215     92
5         國立成功大學    D 日   M 碩士   6833  4290  2543   1910   1064   1738   1015
5         國立成功大學    D 日   B 學士  11348  7046  4302   1677   1011   1658   1007
5         國立成功大學    N 職   M 碩士   1446   900   546    303    192    269    171
6         國立中興大學    D 日   D 博士    944   658   286    103     46    108     57
6         國立中興大學    D 日   M 碩士   3447  2054  1393    854    601    849    555
6         國立中興大學    D 日   B 學士   8020  4619  3401   1065    810   1085    782
6         國立中興大學    N 職   M 碩士   1625  1106   519    401    212    329    176
6         國立中興大學    P 進   B 學士    947   416   531    110    107     76    121
7         國立交通大學    D 日   D 博士   1765  1379   386    281     97    274     77
7         國立交通大學    D 日   M 碩士   5754  3913  1841   1503    718   1370    630
7         國立交通大學    D 日   B 學士   5627  3840  1787   1028    513    894    418
...          ...    ...    ...    ...   ...   ...    ...    ...    ...    ...
1195       馬偕醫學院    D 日   D 博士      2     2     0      2      0      0      0
1195       馬偕醫學院    D 日   M 碩士     41    15    26      3     11      4      7
1195       馬偕醫學院    D 日   B 學士    641   220   421     39    110     48    113
1196      法鼓文理學院    D 日   D 博士     20     8    12      1      1      2      1
1196      法鼓文理學院    D 日   M 碩士    224    66   158     25     40     16     46
1196      法鼓文理學院    D 日   B 學士     61    24    37      7     12      7     12
1282  馬偕醫護管理專科學校    D 日   2 二專     54    15    39      4     27     11     12
1282  馬偕醫護管理專科學校    D 日   5 五專   3927   469  3458     95    675     93    664
1282  馬偕醫護管理專科學校    N 修   2 二專    242   108   134     73     83     34     50
1283  仁德醫護管理專科學校    D 日   5 五專   6042  1294  4748    252    930    244    920
1283  仁德醫護管理專科學校    N 修   2 二專    391   198   193    127    134     67     54
1284  樹人醫護管理專科學校    D 日   5 五專   6741  1551  5190    341   1115    330   1085
1284  樹人醫護管理專科學校    N 修   2 二專    545   316   229    127    119    136     72
1285  慈惠醫護管理專科學校    D 日   2 二專    103    36    67     16     36     13     20
1285  慈惠醫護管理專科學校    D 日   5 五專   4130   896  3234    123    482    171    575
1285  慈惠醫護管理專科學校    N 修   2 二專    271    94   177     48     86     35     70
1286  耕莘健康管理專科學校    D 日   5 五專   4792   454  4338     66    755    100    836
1286  耕莘健康管理專科學校    N 修   2 二專    119     3   116      2     63      1     46
1287  敏惠醫護管理專科學校    D 日   5 五專   3904   467  3437    101    681     98    698
1289  育英醫護管理專科學校    D 日   5 五專   1996   227  1769     53    316     43    355
1291  聖母醫護管理專科學校    D 日   2 二專     22    17     5     17      5      0      0
1291  聖母醫護管理專科學校    D 日   5 五專   2521   516  2005     76    319     81    332
1291  聖母醫護管理專科學校    N 修   2 二專     18     8    10      8     10      0      0
1292  新生醫護管理專科學校    D 日   5 五專   5955   722  5233    141   1034    137   1050
1292  新生醫護管理專科學校    N 修   2 二專     76    23    53      5     26     18     27
1293  崇仁醫護管理專科學校    D 日   5 五專   3330   410  2920     81    584     87    543
3002      臺北市立大學    D 日   D 博士    234   101   133     14     19     14     17
3002      臺北市立大學    D 日   M 碩士   1215   420   795    156    242    105    213
3002      臺北市立大學    D 日   B 學士   5270  2335  2935    569    738    527    698
3002      臺北市立大學    N 職   M 碩士   1090   298   792    107    274     87    257

      ...   五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  延修生女生    縣市名稱  \
學校代碼  ...
1     ...      70     48     61     55     80     42      0      0  30 臺北市
1     ...       0      0      0      0      0      0      0      0  30 臺北市
1     ...       0      0      0      0      0      0    345    423  30 臺北市
1     ...      70     66      0      0      0      0      0      0  30 臺北市
2     ...     140     43    122     44    160     59      0      0  18 新竹市
2     ...       3     14      4     10      0      0      0      0  18 新竹市
2     ...       0      0      0      0      0      0    262    154  18 新竹市
2     ...       0      0      0      0      0      0      2      0  18 新竹市
2     ...      23     43      9     29     25     50      0      0  18 新竹市
3     ...     292    130    240    105    343    134      0      0  30 臺北市
3     ...       0      0      0      0      0      0      0      0  30 臺北市
3     ...     167    111    145     71      1      4    728    552  30 臺北市
3     ...      35     18     28     10      0      0      0      0  30 臺北市
3     ...       0      0      0      0      0      0      1      0  30 臺北市
4     ...      91    104     73     65     79     81      0      0  30 臺北市
4     ...       0      0      0      0      0      0      0      0  30 臺北市
4     ...       0      0      0      0      0      0    267    265  30 臺北市
4     ...      33     90     30     68      0      0      0      0  30 臺北市
5     ...     158     67    123     50    137     51      0      0  21 臺南市
5     ...       1      2      1      0      0      0      0      0  21 臺南市
5     ...      79     59     51     37      1      3    347    180  21 臺南市
5     ...      55     26      1      0      0      0      0      0  21 臺南市
6     ...      75     30     75     25    103     44      0      0  19 臺中市
6     ...       1      1      0      0      0      0      0      0  19 臺中市
6     ...      34     46      0      0      0      0    230     98  19 臺中市
6     ...      84     30      0      0      0      0      0      0  19 臺中市
6     ...      52     58      0      0      0      0     17     10  19 臺中市
7     ...     153     49    111     29    162     36      0      0  18 新竹市
7     ...       0      2      0      0      0      0      0      0  18 新竹市
7     ...       0      0      0      0      0      0    157     57  18 新竹市
...   ...     ...    ...    ...    ...    ...    ...    ...    ...     ...
1195  ...       0      0      0      0      0      0      0      0  01 新北市
1195  ...       0      0      0      0      0      0      0      0  01 新北市
1195  ...      28     20     18     22      2      0      3      3  01 新北市
1196  ...       3      3      1      3      0      0      0      0  01 新北市
1196  ...       0      0      0      0      0      0      0      0  01 新北市
1196  ...       0      0      0      0      0      0      0      2  01 新北市
1282  ...       0      0      0      0      0      0      0      0  30 臺北市
1282  ...      74    684      0      0      0      0     19     97  30 臺北市
1282  ...       0      0      0      0      0      0      1      1  30 臺北市
1283  ...     211    835      0      0      0      0     85    184  05 苗栗縣
1283  ...       0      0      0      0      0      0      4      5  05 苗栗縣
1284  ...     253    893      0      0      0      0     67    165  12 高雄市
1284  ...       0      0      0      0      0      0      5      1  12 高雄市
1285  ...       0      0      0      0      0      0      7     11  13 屏東縣
1285  ...     212    680      0      0      0      0     48    164  13 屏東縣
1285  ...       0      0      0      0      0      0      2     10  13 屏東縣
1286  ...      82    801      0      0      0      0     28    175  01 新北市
1286  ...       0      0      0      0      0      0      0      7  01 新北市
1287  ...      74    612      0      0      0      0     19     85  11 臺南市
1289  ...      38    337      0      0      0      0      6     33  50 高雄市
1291  ...       0      0      0      0      0      0      0      0  02 宜蘭縣
1291  ...     133    437      0      0      0      0      9     29  02 宜蘭縣
1291  ...       0      0      0      0      0      0      0      0  02 宜蘭縣
1292  ...     130    988      0      0      0      0     21    124  03 桃園市
1292  ...       0      0      0      0      0      0      0      0  03 桃園市
1293  ...      69    564      0      0      0      0     11     44  10 嘉義縣
3002  ...      11     15     10     17     19     30      0      0  30 臺北市
3002  ...      15     37     12     27      0      0      0      0  30 臺北市
3002  ...       0      0      0      0      0      0    166    140  30 臺北市
3002  ...      14     44     15     25      0      0      0      0  30 臺北市

       體系別
學校代碼
1     1 一般
1     1 一般
1     1 一般
1     1 一般
2     1 一般
2     1 一般
2     1 一般
2     1 一般
2     1 一般
3     1 一般
3     1 一般
3     1 一般
3     1 一般
3     1 一般
4     3 師範
4     3 師範
4     3 師範
4     3 師範
5     1 一般
5     1 一般
5     1 一般
5     1 一般
6     1 一般
6     1 一般
6     1 一般
6     1 一般
6     1 一般
7     1 一般
7     1 一般
7     1 一般
...    ...
1195  1 一般
1195  1 一般
1195  1 一般
1196  1 一般
1196  1 一般
1196  1 一般
1282  2 技職
1282  2 技職
1282  2 技職
1283  2 技職
1283  2 技職
1284  2 技職
1284  2 技職
1285  2 技職
1285  2 技職
1285  2 技職
1286  2 技職
1286  2 技職
1287  2 技職
1289  2 技職
1291  2 技職
1291  2 技職
1291  2 技職
1292  2 技職
1292  2 技職
1293  2 技職
3002  1 一般
3002  1 一般
3002  1 一般
3002  1 一般

[794 rows x 24 columns]

In [35]:
# 更新後的 DataFrame 回傳值指定給 df 變數
#將學校代碼設定為索引值
#df = df.set_index(' 學校代碼 ')
#print(df)

KeyError: ' 學校代碼 '

# 排序
在 DataFrame 中可以使用 sort_values 進行特定欄位排序（ascending=True 為由小到大，False 為由大到小排序）

In [38]:
#print(df.sort_values(['總計'], ascending=False).loc[:,['學校名稱', '總計']])

          學校名稱     總計
學校代碼
1006    中國文化大學  20411
1005      淡江大學  20273
1002      輔仁大學  17528
53    國立高雄科技大學  17287
1016      銘傳大學  17200
1007      逢甲大學  16756
3       國立臺灣大學  16614
1004      中原大學  13421
1001      東海大學  12993
1023    南臺科技大學  12720
1014      義守大學  12238
1003      東吳大學  11810
5       國立成功大學  11348
1018    朝陽科技大學  11259
1008      靜宜大學  11067
1017      實踐大學  10867
3       國立臺灣大學  10335
1025    嘉南藥理大學  10134
1       國立政治大學   9585
1015      世新大學   9548
1048      亞洲大學   9490
1037    正修科技大學   8632
2       國立清華大學   8500
1032    明新科技大學   8117
4     國立臺灣師範大學   8104
6       國立中興大學   8020
1051  台南應用科技大學   7994
24    國立屏東科技大學   7724
1026    樹德科技大學   7658
1024    崑山科技大學   7588
...        ...    ...
1168    南亞技術學院      9
1062    僑光科技大學      9
1045    嶺東科技大學      8
1159    和春技術學院      8
31      國立宜蘭大學      8
1069    修平科技大學      6
1046    中國科技大學      5
1183    黎明技術學院      4
1025    嘉南藥理大學      4
24    國立屏東科技大學      4
1071  臺北城市科技大學      3
1039      玄奘大學      3
51    國立臺北商業大學      3
1072    大華科技大學      3
1065    吳鳳科技大學      3
1054    景文科技大學      2
1195     馬偕醫學院      2
1062    僑光科技大學      1
1060    南開科技大學      1
1040    建國科技大學      1
1003      東吳大學      1
53    國立高雄科技大學      1
1008      靜宜大學      1
47    國立高雄餐旅大學      1
1005      淡江大學      1
47    國立高雄餐旅大學      1
1056    東南科技大學      1
3       國立臺灣大學      1
22    國立臺灣科技大學      1
50    國立臺中科技大學      1

[794 rows x 2 columns]

In [41]:
#透過列的 index 來排序：
#print(df.sort_index(ascending=False).loc[:, ['學校名稱', '女生計', '總計']])

            學校名稱   女生計     總計
學校代碼
3002      臺北市立大學   792   1090
3002      臺北市立大學  2935   5270
3002      臺北市立大學   795   1215
3002      臺北市立大學   133    234
1293  崇仁醫護管理專科學校  2920   3330
1292  新生醫護管理專科學校    53     76
1292  新生醫護管理專科學校  5233   5955
1291  聖母醫護管理專科學校    10     18
1291  聖母醫護管理專科學校  2005   2521
1291  聖母醫護管理專科學校     5     22
1289  育英醫護管理專科學校  1769   1996
1287  敏惠醫護管理專科學校  3437   3904
1286  耕莘健康管理專科學校  4338   4792
1286  耕莘健康管理專科學校   116    119
1285  慈惠醫護管理專科學校   177    271
1285  慈惠醫護管理專科學校  3234   4130
1285  慈惠醫護管理專科學校    67    103
1284  樹人醫護管理專科學校   229    545
1284  樹人醫護管理專科學校  5190   6741
1283  仁德醫護管理專科學校   193    391
1283  仁德醫護管理專科學校  4748   6042
1282  馬偕醫護管理專科學校   134    242
1282  馬偕醫護管理專科學校  3458   3927
1282  馬偕醫護管理專科學校    39     54
1196      法鼓文理學院   158    224
1196      法鼓文理學院    12     20
1196      法鼓文理學院    37     61
1195       馬偕醫學院    26     41
1195       馬偕醫學院     0      2
1195       馬偕醫學院   421    641
...          ...   ...    ...
7         國立交通大學  1787   5627
7         國立交通大學  1841   5754
7         國立交通大學   386   1765
6         國立中興大學   531    947
6         國立中興大學   519   1625
6         國立中興大學  3401   8020
6         國立中興大學  1393   3447
6         國立中興大學   286    944
5         國立成功大學  2543   6833
5         國立成功大學   568   1829
5         國立成功大學  4302  11348
5         國立成功大學   546   1446
4       國立臺灣師範大學  1464   2063
4       國立臺灣師範大學  4501   8104
4       國立臺灣師範大學  2402   4196
4       國立臺灣師範大學   691   1353
3         國立臺灣大學     0      1
3         國立臺灣大學   613   1562
3         國立臺灣大學  7183  16614
3         國立臺灣大學  4094  10335
3         國立臺灣大學  1028   3433
2         國立清華大學  3842   8500
2         國立清華大學  1969   5190
2         國立清華大學   445   1656
2         國立清華大學    14     39
2         國立清華大學   814   1293
1         國立政治大學  5673   9585
1         國立政治大學  2162   4023
1         國立政治大學   858   1787
1         國立政治大學   434    995

[794 rows x 3 columns]

# 群組
若我們希望像是 SQL Group By 語法一樣，針對特定欄位進行群組化，我們可以使用 groupby(['欄位名稱'])，同時可以使用 sum() 彙總函式搭配排序來呈現資料：

In [43]:
print(df.groupby(['學校名稱']).sum().sort_values('總計', ascending=False))

               總計    男生計    女生計  一年級男生  一年級女生  二年級男生  二年級女生  三年級男生  三年級女生  \
學校名稱
國立臺灣大學      31945  19027  12918   5383   3628   5159   3463   3565   2530
國立高雄科技大學    27302  17528   9774   4769   2740   4696   2469   3700   2162
輔仁大學        25709  10707  15002   2666   3816   2582   3774   2352   3323
中國文化大學      25186  12235  12951   2933   3078   2614   2992   2508   2696
淡江大學        24635  12765  11870   3254   2889   3171   2956   2681   2675
國立成功大學      21456  13497   7959   4154   2405   3880   2285   2473   1560
逢甲大學        20544  12542   8002   3142   2149   3217   2133   2851   1753
銘傳大學        18791   7459  11332   1867   2894   1831   2761   1582   2631
南臺科技大學      18563  10769   7794   2809   1956   2611   1940   2374   1785
正修科技大學      16989  10347   6642   2626   1503   2488   1518   2414   1728
國立清華大學      16678   9594   7084   2839   2035   2720   1821   1764   1444
國立政治大學      16390   7263   9127   1928   2392   1852   2321   1524   2034
中原大學        16217   8844   7373   2233   1969   2194   1841   1929   1553
東海大學        15751   7134   8617   1724   2305   1768   2154   1600   1924
國立臺灣師範大學    15716   6658   9058   1832   2465   1663   2340   1376   1952
東吳大學        15444   6171   9273   1519   2320   1414   2087   1325   2060
朝陽科技大學      15364   6956   8408   1768   2123   1761   2115   1638   2012
國立中興大學      14983   8853   6130   2533   1776   2447   1691   1681   1232
義守大學        14933   7903   7030   2077   1799   1789   1730   1764   1621
國立交通大學      14742  10185   4557   3152   1535   2862   1320   2116    908
實踐大學        13555   4405   9150   1102   2318    980   2151    973   2008
國立臺北科技大學    13464   9796   3668   2959   1132   2857   1059   1960    742
國立臺中科技大學    13367   3862   9505    944   1945    834   1921    881   2440
嘉南藥理大學      13139   5562   7577   1365   1853   1250   1806   1355   1798
弘光科技大學      12779   4361   8418   1081   1839   1053   1749    989   2169
台南應用科技大學    12714   3821   8893   1054   2158    911   2029    838   2194
明新科技大學      12157   7540   4617   1756   1103   2024   1249   1691   1098
靜宜大學        12007   4558   7449   1088   1915   1079   1785   1016   1723
國立嘉義大學      11885   6115   5770   1623   1562   1542   1445   1333   1285
國立中央大學      11822   7663   4159   2324   1347   2323   1198   1414    784
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
明道大學         3262   1926   1336    451    334    484    327    397    299
國立臺灣體育運動大學   3107   1827   1280    494    320    411    338    401    294
國立臺北藝術大學     3098   1145   1953    303    507    272    475    247    437
聖約翰科技大學      3073   2160    913    469    191    466    197    419    219
慈濟科技大學       3064    766   2298    195    481    162    428    167    570
中州科技大學       3061   1641   1420    383    202    240    137    588    591
國立澎湖科技大學     3051   1782   1269    492    328    441    315    401    282
玄奘大學         2889   1201   1688    249    377    236    370    285    371
南亞技術學院       2689   1709    980    422    180    340    199    386    224
聖母醫護管理專科學校   2561    541   2020    101    334     81    332     82    426
國立體育大學       2525   1559    966    391    265    396    218    330    228
東方設計大學       2273   1127   1146    142    156    190    181    326    291
崇右影藝科技大學     2014    912   1102    196    283    228    245    171    261
育英醫護管理專科學校   1996    227   1769     53    316     43    355     46    366
國立臺南護理專科學校   1939    143   1796     39    382     32    403     29    333
稻江科技暨管理學院    1855    910    945    154     93    218    230    277    261
國立臺南藝術大學     1607    529   1078    137    271    122    272    122    251
台灣首府大學       1539    785    754    135    153    208    186    170    170
華梵大學         1518    830    688    168    137    186    154    151    123
大同技術學院       1337    514    823     61     99    140    153    112    267
大華科技大學       1157    726    431     50     45     56     38    278    103
國立臺東專科學校     1120    689    431    297    127    242    125     27     56
大漢技術學院       1075    644    431    189    123    131    108    162    100
和春技術學院        979    652    327    118     47    104     38    166     90
中信金融管理學院      718    391    327    147    102    113     85     54     73
馬偕醫學院         684    237    447     44    121     52    120     44     79
蘭陽技術學院        667    373    294     27     20     92     70     71     54
臺灣觀光學院        608    283    325     84     75     43     57     37     48
國立臺灣戲曲學院      595    200    395     44    100     49     92     44     96
法鼓文理學院        305     98    207     33     53     25     59     17     41

            四年級男生  四年級女生  五年級男生  五年級女生  六年級男生  六年級女生  七年級男生  七年級女生  延修生男生  \
學校名稱
國立臺灣大學       2940   2162    494    259    413    186    344    138    729
國立高雄科技大學     3388   2113    176     47     71      9     55      5    673
輔仁大學         2253   3280     97     86     80     80     31     23    646
中國文化大學       2551   2858    198    179    154    107     99     50   1178
淡江大學         2620   2757     92     65     46     37     32     13    869
國立成功大學       2036   1234    293    154    176     87    138     54    347
逢甲大學         2656   1713    144     84     30     13     34      5    468
銘傳大學         1603   2581     63     33     10     20      2      4    501
南臺科技大學       2349   1780     48     23     15     12      9      1    554
正修科技大學       2308   1693      2      0      1      0      0      0    508
國立清華大學       1521   1338    166    100    135     83    185    109    264
國立政治大學       1333   1746    140    114     61     55     80     42    345
中原大學         1731   1560    133    117     50     26     22      9    552
東海大學         1541   1849    106    100     44     35     19     18    332
國立臺灣師範大學     1214   1628    124    194    103    133     79     81    267
東吳大學         1275   2045    245    317     64     64      9      6    320
朝陽科技大學       1477   1923     11      2      5      1      3      4    293
國立中興大學       1521   1089    246    165     75     25    103     44    247
義守大學         1750   1618     46     28     24      6     11      2    442
國立交通大學       1385    587    240     85    111     29    162     36    157
實踐大學          983   2226     24     32      0      1      0      0    343
國立臺北科技大學     1650    625     98     33     78     21     95     26     99
國立臺中科技大學      912   2391    117    530      0      0      0      0    174
嘉南藥理大學       1333   1944      0      1      0      1      0      0    259
弘光科技大學        960   2211     21    218      0      0      0      0    257
台南應用科技大學      846   2142     40    169      0      0      0      0    132
明新科技大學       1582   1001     16      1      8      1      0      0    463
靜宜大學          997   1704     21     12      9     17      3      2    345
國立嘉義大學       1326   1274     37     47      9     12     12     17    233
國立中央大學       1180    667    124     63     67     25     72     22    159
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
明道大學          478    346      3      2      2      0      0      0    111
國立臺灣體育運動大學    386    263      5      4      4      1      1      1    125
國立臺北藝術大學      209    395      8     12      3      4      4      5     99
聖約翰科技大學       609    225     56     19      0      0      0      0    141
慈濟科技大學        177    554     20    209      0      0      0      0     45
中州科技大學        369    467      0      0      0      0      0      0     61
國立澎湖科技大學      372    323      0      0      0      0      0      0     76
玄奘大學          302    472      6     13      0      0      1      3    122
南亞技術學院        391    282     53     38      0      0      0      0    117
聖母醫護管理專科學校    135    462    133    437      0      0      0      0      9
國立體育大學        292    195     27     10     10      3      5      5    108
東方設計大學        288    343    126    145      0      0      0      0     55
崇右影藝科技大學      199    216      6     14      0      0      0      0    112
育英醫護管理專科學校     41    362     38    337      0      0      0      0      6
國立臺南護理專科學校     19    328     22    331      0      0      0      0      2
稻江科技暨管理學院     225    339      0      0      0      0      0      0     36
國立臺南藝術大學      116    234      7      7      0      8      5      8     20
台灣首府大學        187    211      1      0      0      0      0      0     84
華梵大學          179    197     10      8     14     15      5      3    117
大同技術學院        167    267      3      9      0      0      0      0     31
大華科技大學        178    144     78     44      0      0      0      0     86
國立臺東專科學校       35     58     55     50      0      0      0      0     33
大漢技術學院        149     89      0      0      0      0      0      0     13
和春技術學院        177    101     20     12      0      0      0      0     67
中信金融管理學院       68     66      0      0      0      0      0      0      9
馬偕醫學院          46     82     28     20     18     22      2      0      3
蘭陽技術學院        114     87     54     45      0      0      0      0     15
臺灣觀光學院         62     88      9     16      0      0      0      0     48
國立臺灣戲曲學院       48     96      0      0      0      0      0      0     15
法鼓文理學院         19     46      3      3      1      3      0      0      0

            延修生女生
學校名稱
國立臺灣大學        552
國立高雄科技大學      229
輔仁大學          620
中國文化大學        991
淡江大學          478
國立成功大學        180
逢甲大學          152
銘傳大學          408
南臺科技大學        297
正修科技大學        200
國立清華大學        154
國立政治大學        423
中原大學          298
東海大學          232
國立臺灣師範大學      265
東吳大學          374
朝陽科技大學        228
國立中興大學        108
義守大學          226
國立交通大學         57
實踐大學          414
國立臺北科技大學       30
國立臺中科技大學      278
嘉南藥理大學        174
弘光科技大學        232
台南應用科技大學      201
明新科技大學        164
靜宜大學          291
國立嘉義大學        128
國立中央大學         53
...           ...
明道大學           28
國立臺灣體育運動大學     59
國立臺北藝術大學      118
聖約翰科技大學        62
慈濟科技大學         56
中州科技大學         23
國立澎湖科技大學       21
玄奘大學           82
南亞技術學院         57
聖母醫護管理專科學校     29
國立體育大學         42
東方設計大學         30
崇右影藝科技大學       83
育英醫護管理專科學校     33
國立臺南護理專科學校     19
稻江科技暨管理學院      22
國立臺南藝術大學       27
台灣首府大學         34
華梵大學           51
大同技術學院         28
大華科技大學         57
國立臺東專科學校       15
大漢技術學院         11
和春技術學院         39
中信金融管理學院        1
馬偕醫學院           3
蘭陽技術學院         18
臺灣觀光學院         41
國立臺灣戲曲學院       11
法鼓文理學院          2

[152 rows x 19 columns]

In [44]:
#可以看到將學士、碩士、博士等人數彙整（同一個學校名稱）後，國立臺灣大學變成總計最多人數的學校，學生人數超過三萬人，緊追在後的是國立高雄科技大學。文化大學和淡江大學則是第四和第五名。

# 刪除欄位
若希望刪除特定欄位，可以使用 drop([欄位], axis=指定欄或列) 方法（axis=1 為欄），指定要刪除的欄位。

In [45]:
# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}


# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
print(student_df_1)

# 使用 drop 指定欄位，記得要給定 axis=1 為欄。若 axis=0 為代表列
student_df_1 = student_df_1.drop(['grades'], axis=1)
print(student_df_1)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43
  name               email
0  王小明       min@gmail.com
1  張小華    hchang@gmail.com
2  廖丁丁  laioding@gmail.com
3  許小光  hsulight@gmail.com

# 充填 NA/NaN 值
有時我們建立或讀取進來的資料值中會有 NA/NaN 值（可能是資料遺漏或是沒有值），此時我們可以使用 DataFrame.fillna 來填充 NA/NaN 值，例如改為 0 等。

使用 Numpy 和 Pandas 建立一個有 NA/NaN 值的 DataFrame：

In [49]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd
import numpy as np

df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))

print(df)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [50]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

# 合併與更新物件
若我們希望合併不同的 DataFrame 我們可以使用列合併 concat() 或是欄位合併 merge()。

以下先建立學習資料：

In [51]:
# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

data_2 = {
    'name': ['黃明明', '汪新新', '鮑呱呱', '江組組'],
    'email': ['ww@gmail.com', 'cc@gmail.com', 'bb@gmail.com', 'ee@gmail.com'],
    'grades': [70, 17, 32, 43]
}

# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
student_df_2 = pd.DataFrame(data_2)

print(student_df_1)
print(student_df_2)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43
  name         email  grades
0  黃明明  ww@gmail.com      70
1  汪新新  cc@gmail.com      17
2  鮑呱呱  bb@gmail.com      32
3  江組組  ee@gmail.com      43

In [52]:
#使用 concat 列合併資料
student_fg_3 = pd.concat([student_df_1, student_df_2])

print(student_fg_3)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43
0  黃明明        ww@gmail.com      70
1  汪新新        cc@gmail.com      17
2  鮑呱呱        bb@gmail.com      32
3  江組組        ee@gmail.com      43

In [53]:
# 若有 ignore_index 則列的 index 會重新排列：
student_fg_3 = pd.concat([student_df_1, student_df_2], ignore_index=True)

print(student_fg_3)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43
4  黃明明        ww@gmail.com      70
5  汪新新        cc@gmail.com      17
6  鮑呱呱        bb@gmail.com      32
7  江組組        ee@gmail.com      43

In [54]:
#建立學習資料

# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

data_2 = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'age': [19, 20, 32, 43]
}

# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
student_df_2 = pd.DataFrame(data_2)

print(student_df_1)
print(student_df_2)

  name               email  grades
0  王小明       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  許小光  hsulight@gmail.com      43
  name  age
0  王小明   19
1  張小華   20
2  廖丁丁   32
3  許小光   43

In [55]:
#使用 merge 合併欄位資料
#有點類似 SQL JOIN 的感覺，根據相同的欄位合併資料：

student_fg_3 = pd.merge(student_df_1, student_df_2)

print(student_fg_3)

  name               email  grades  age
0  王小明       min@gmail.com      60   19
1  張小華    hchang@gmail.com      77   20
2  廖丁丁  laioding@gmail.com      92   32
3  許小光  hsulight@gmail.com      43   43

# 輸出資料
在 Pandas 中同樣可以使用 DataFrame.to_csv(檔案名稱)、DataFrame.to_json(檔案名稱)、DataFrame.to_excel(檔案名稱) 和 DataFrame.to_html(檔案名稱)將資料轉成檔案。

In [57]:
data = {
    'name': ['王小明', '張小華', '廖丁丁', '許小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

# 建立 DataFrame 物件
student_df = pd.DataFrame(data)

# 將 DataFrame 轉成 CSV 檔案
print(student_df.to_csv('student_demo'))

None